<br><br>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title has-text-centered">BAZA PRODUKTÓW</p>
        <p class="has-text-justified">W naszej bazie znajdują się setki najpopularniejszych produktów, przejdź do kalkulatora już teraz i oblicz ile kalorii
          będzie miał twój posiłek!</p>
        <p class="has-text-centered">
          <a class="button is-primary is-rounded" routerLink="products">PRODUKTY</a>
        </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title has-text-centered">WIĘCEJ MOŻLIWOŚCI</p>
        <p class="has-text-justified">Utwórz konto/zaloguj się, aby mieć dostęp do dodaktowych funkcji na naszej stronie. Uzyskasz m.in. możliwość dodawania
          swoich produktów do bazy!</p>
        <p class="has-text-centered">
          <a class="button is-primary is-rounded" routerLink="login">REJESTRACJA</a>
        </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title has-text-centered">JAK DZIAŁAMY?</p>
        <p class="has-text-justified">Jesteś ciekaw jak i po co działamy? Wszystkiego dowiesz się pod linkiem O STRONIE!</p>
        <p class="has-text-centered">
          <a class="button is-primary is-rounded" routerLink="about">O STRONIE</a>
        </p>
      </article>
    </div>
  </div>

