<div class="container">

<h2>ZAPISANE PRODUKTY</h2>

  <hr>
<br>
<p class="text-center"><strong>Lista zapisanych produktów</strong></p>
<br>
<div *ngFor="let item of items | async">
      <div class="col-xs-6">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center">Zdjęcie</th>
                <th class="text-center">Nazwa produktu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>{{ item.photoUrl || 'b/d' }}</td>
              <td>{{ item.name || 'b/d' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>

<loading-spinner *ngIf="showSpinner"></loading-spinner>
<button type="button" class="btn is-danger" (click)='deleteItems()'>Usuń wszystko</button>
<br>
<hr>
</div>

