<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner active">
    <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>BAZA PRODUKTÓW</h1>
            <p>W naszej bazie znajdują się setki najpopularniejszych produktów, przejdź do kalkulatora już teraz i oblicz ile kalorii będzie miał twój posiłek!</p>
            <p><a class="btn btn-lg btn-primary" routerLink="rezerwacja" role="button">KALKULATOR</a></p>
          </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>WIĘCEJ MOŻLIWOŚCI</h1>
            <p>Utwórz konto/zaloguj się, aby mieć dostęp do dodaktowych funkcji na naszej stronie. Uzyskasz m.in. możliwość dodawania swoich produktów do bazy!</p>
            <p><a class="btn btn-lg btn-primary" routerLink="login" role="button">REJESTRACJA</a></p>
          </div>
        </div>
      </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption">
          <h1>JAK DZIAŁAMY?</h1>
          <p>Jesteś ciekaw jak i po co działamy? Wszystkiego dowiesz się pod linkiem O STRONIE!</p>
          <p><a class="btn btn-lg btn-primary" routerLink="oferta" role="button">O STRONIE</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Poprzedni</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Następny</span>
  </a>
</div>
</div>
