$teal: #5bc0de !default;
nav {
  border-bottom: 2px solid #E4E4E4;
  padding: 0 5vw;
  .nav-item {
    color: rgb(54, 53, 53);
    padding: 1vw 40px;
    font-weight: bolder;
    transition: color 0.3s ease;
    &:hover {
      color: $teal;
    }
  }
  .navbar-link {
    color: rgb(54, 53, 53);
    padding: 1vw 40px;
    font-weight: bolder;
    transition: color 0.3s ease;
    &:hover {
      color: $teal;
    }
  }
  .navbar-item {
    color: rgb(54, 53, 53);
    transition: color 0.1s ease;
    &:hover {
      color: $teal;
    }
  }
}

a {
  transition: color 0.3s ease;
  &:hover {
    color: $teal;
  }
}
