<div class="container">
  <h2>PANEL</h2>
  <hr>
  <br>
  <div class="columns is-centered">
    <div class="is-one-quarter">
      <div class="has-text-centered">
        <strong>Dodawanie produktów</strong>
      </div>
      <br>
      <form #form="ngForm" (ngSubmit)="addProductData()" novalidate>
        <div class="columns is-centered">
          <div class="control column">
            <label for="cat" class="label">Kategoria</label>
            <select type="text" id="cat" class="input is-rounded" title="Kategoria" [(ngModel)]="item.cat" #cat="ngModel" name="cat"
              required>
              <option [ngValue]="undefined" selected disabled hidden class="grey">Wybierz</option>
              <option *ngFor="let cat of cats" [ngValue]="cat">{{ cat.name }}</option>
            </select>
            <div *ngIf="cat.invalid && submitted" class="help is-danger">
              <div *ngIf="cat.errors.required">
                Kategoria jest wymagana
              </div>
            </div>
          </div>
          <div class="control column">
            <label for="name" class="label">Nazwa</label>
            <input type="text" id="name" class="input is-rounded" placeholder="Nazwa" [(ngModel)]="item.name" #name="ngModel" name="name"
              required>
            <div *ngIf="name.invalid && submitted" class="help is-danger">
              <div *ngIf="name.errors.required">
                Nazwa jest wymagana
              </div>
            </div>
          </div>
          <div class="control column">
            <label for="quantity" class="label">Waga [g]</label>
            <input type="text" id="quantity" class="input is-rounded" placeholder="0" [(ngModel)]="item.quantity" #quantity="ngModel"
              name="quantity" pattern="^[0-9]+$" required>
            <div *ngIf="quantity.invalid && submitted" class="help is-danger">
              <div *ngIf="quantity.errors.required">
                Waga jest wymagana
              </div>
            </div>
            <div *ngIf="quantity.invalid" class="help is-danger">
              <div *ngIf="quantity.errors.pattern">
                Waga musi być liczbą
              </div>
            </div>
          </div>
          <div class="control column">
            <label for="energy" class="label">Energia [kcal]</label>
            <input type="text" id="energy" class="input is-rounded" placeholder="0" [(ngModel)]="item.energy" #energy="ngModel" name="energy"
              pattern="^[0-9]+(([,])*[0-9]+)?$" required>
            <div *ngIf="energy.invalid && submitted" class="help is-danger">
              <div *ngIf="energy.errors.required">
                Energia jest wymagana
              </div>
            </div>
            <div *ngIf="energy.invalid" class="help is-danger">
              <div *ngIf="energy.errors.pattern">
                Energia musi być liczbą
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="control column">
            <label for="protein" class="label">Białko [g]</label>
            <input type="text" id="protein" class="input is-rounded" placeholder="0" [(ngModel)]="item.protein" #protein="ngModel" name="protein"
              pattern="^[0-9]+(([,])*[0-9]+)?$">
            <div *ngIf="protein.invalid" class="help is-danger">
              <div *ngIf="protein.errors.pattern">
                Białko musi być liczbą
              </div>
            </div>
          </div>
          <div class="control column">
            <label for="fat" class="label">Tłuszcz [g]</label>
            <input type="text" id="fat" class="input is-rounded" placeholder="0" [(ngModel)]="item.fat" #fat="ngModel" name="fat" pattern="^[0-9]+(([,])*[0-9]+)?$">
            <div *ngIf="fat.invalid" class="help is-danger">
              <div *ngIf="fat.errors.pattern">
                Tłuszcz musi być liczbą
              </div>
            </div>
          </div>
          <div class="control column">
            <label for="carb" class="label">Węglowodany [g]</label>
            <input type="text" id="carb" class="input is-rounded" placeholder="0" [(ngModel)]="item.carb" #carb="ngModel" name="carb"
              pattern="^[0-9]+(([,])*[0-9]+)?$">
            <div *ngIf="carb.invalid" class="help is-danger">
              <div *ngIf="carb.errors.pattern">
                Węglowodany muszą być liczbą
              </div>
            </div>
          </div>
          <div class="control column">
            <label for="fiber" class="label">Błonnik [g]</label>
            <input type="text" id="fiber" class="input is-rounded" placeholder="0" [(ngModel)]="item.fiber" #fiber="ngModel" name="fiber"
              pattern="^[0-9]+(([,])*[0-9]+)?$">
            <div *ngIf="fiber.invalid" class="help is-danger">
              <div *ngIf="fiber.errors.pattern">
                Błonnik musi być liczbą
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="columns">
          <div class="column file has-name is-fullwidth">
            <label class="file-label" for="photo">
              <input class="file-input" type="file" id="photo" (change)="setFileName($event); startUpload($event.target.files)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Zdjęcie
                </span>
              </span>
              <span class="file-name">
                {{ fileName }}
              </span>
            </label>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column" *ngIf="percentage | async as pct">
            <progress class="progress is-primary" [value]="pct" [max]="100">{{ pct | number }}%</progress>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column">
            <div *ngIf="(snapshot | async) as snap">
              <div *ngIf="downloadURL | async as url" class="has-text-centered">
                <img [src]="url">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="column has-text-centered">
          <button class="button is-primary is-rounded" type="submit" (click)='setSubmitted()' [disabled]="!form.valid">Dodaj</button>
          <button class="button is-primary is-rounded" type="reset" (click)='reset()'>Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
