<div class="container">
    <form class="form-signin" [formGroup]="userForm"  *ngIf="newUser" (ngSubmit)="signup()" #captchaProtectedForm="ngForm">

          <h2 class="form-signin-heading">NOWE KONTO</h2>
        <hr>
          <label for="email" class="sr-only">E-mail</label>
          <input type="email" id="email" class="form-control" placeholder="E-mail" formControlName="email" required autofocus>

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Podaj e-mail
              </div>
              <div *ngIf="name.errors.email">
                Podaj poprawny e-mail
              </div>
            </div>

          <label for="password" class="sr-only">Hasło</label>
          <input type="password" id="password" class="form-control" placeholder="Hasło" formControlName="password" required>

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Podaj hasło
            </div>
            <div *ngIf="name.errors.minlength">
              Hasło musi mieć co namniej 8 znaków
            </div>
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!userForm.valid" *ngIf="regEnabled">Zarejestruj</button>
          <hr>
          <button class="btn btn-primary btn-block" (click)="toggleForm()">Logowanie</button>
        </form>

      <form class="form-signin" [formGroup]="userForm"  *ngIf="!newUser"  (ngSubmit)="login()">
                <h2 class="form-signin-heading">LOGOWANIE</h2>
    <hr>
                <label for="email" class="sr-only">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="E-mail" formControlName="email" required autofocus>

                <div *ngIf="formErrors.email" class="help is-danger">
                    {{ formErrors.email }}
                </div>

                <label for="password" class="sr-only">Hasło</label>
                <input type="password" id="password" class="form-control" placeholder="Hasło" formControlName="password" required>

                <div *ngIf="formErrors.password" class="help is-danger">
                    {{ formErrors.password }}
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!userForm.valid">Zaloguj</button>

              <hr>
              <button class="btn btn-primary btn-block" (click)="toggleForm()">Nowe konto</button>
    </form>

</div>
