<div class="container">
  <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">

    <h2 class="has-text-centered">NOWE KONTO</h2>
    <hr>
    <div class="field">
      <label class="label">E-mail</label>
      <p class="control has-icons-left">
        <input class="input is-rounded" type="email" placeholder="E-mail" formControlName="email" autocomplete="new-password">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
      <p *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.email }}
      </p>
    </div>

    <div class="field">
      <label class="label">Hasło</label>
      <p class="control has-icons-left">
        <input class="input is-rounded" type="password" placeholder="Hasło" formControlName="password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
      <p *ngIf="formErrors.password" class="help is-danger">
        {{ formErrors.password }}
      </p>
    </div>
    <br>
    <div class="field">
      <p class="control has-text-centered">
        <button class="button is-primary is-rounded" type="submit" [disabled]="!userForm.valid" *ngIf="regEnabled">
          Zarejestruj
        </button>
      </p>
      <hr>
      <p class="has-text-centered">
        <button class="button is-primary is-rounded" (click)="toggleForm()">Logowanie</button>
      </p>
    </div>
  </form>

  <form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">
    <h2 class="has-text-centered">LOGOWANIE</h2>
    <hr>
    <div class="field">
      <label class="label">E-mail</label>
      <p class="control has-icons-left">
        <input class="input is-rounded" type="email" placeholder="E-mail" formControlName="email" autocomplete="new-password">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
      <p *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.email }}
      </p>
    </div>

    <div class="field">
      <label class="label">Hasło</label>
      <p class="control has-icons-left">
        <input class="input is-rounded" type="password" placeholder="Hasło" formControlName="password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
      <p *ngIf="formErrors.password" class="help is-danger">
        {{ formErrors.password }}
      </p>
    </div>
    <br>
    <p class="has-text-centered">
      <button class="button is-primary is-rounded" type="submit" [disabled]="!userForm.valid">Zaloguj</button>
    </p>
    <hr>
    <p class="has-text-centered">
      <button class="button is-primary is-rounded" (click)="toggleForm()">Nowe konto</button>
    </p>
  </form>
</div>
