<table class="table is-centered">
  <tbody>
    <tr>
      <div *ngIf="item.photoUrl | async as url">
        <img [src]="url">
      </div>
    </tr>
    <tr>
      <table class="table is-striped is-bordered is-hoverable">
        <tbody>
          <tr>
            <th scope="column" class="has-text-right">Nazwa</th>
            <td class="has-text-right text">{{ item.name }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Kategoria</th>
            <td class="has-text-right text">{{ item.cat.name }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Waga [g]</th>
            <td class="has-text-right text">{{ item.quantity }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Energia [kcal]</th>
            <td class="has-text-right text">{{ item.energy }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Białko [g]</th>
            <td class="has-text-right text">{{ item.protein }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Tłuszcz [g]</th>
            <td class="has-text-right text">{{ item.fat }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Węglowodany [g]</th>
            <td class="has-text-right text">{{ item.carb }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Błonnik [g]</th>
            <td class="has-text-right text">{{ item.fiber }}</td>
          </tr>
        </tbody>
      </table>
    </tr>
  </tbody>
</table>
