<table class="table is-centered">
  <tbody>
    <tr>
      <div *ngIf="item.photoUrl | async as url">
        <img [src]="url">
      </div>
    </tr>
    <tr>
      <table class="table is-striped is-bordered is-hoverable">
        <tbody>
          <tr>
            <th scope="column" class="has-text-right">Nazwa</th>
            <td class="has-text-right text">{{ item.name }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Kategoria</th>
            <td class="has-text-right text">{{ item.cat.name }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Waga [g]</th>
            <td class="has-text-right text">{{ item.quantity | number: '1.0-1':'pl-PL' }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Energia [kcal]</th>
            <td class="has-text-right text">{{ item.energy | number: '1.0-1':'pl-PL' }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Białko [g]</th>
            <td class="has-text-right text">{{ item.protein | number: '1.0-1':'pl-PL' }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Tłuszcz [g]</th>
            <td class="has-text-right text">{{ item.fat | number: '1.0-1':'pl-PL' }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Węglowodany [g]</th>
            <td class="has-text-right text">{{ item.carb | number: '1.0-1':'pl-PL' }}</td>
          </tr>

          <tr>
            <th scope="column" class="has-text-right">Błonnik [g]</th>
            <td class="has-text-right text">{{ item.fiber | number: '1.0-1':'pl-PL' }}</td>
          </tr>
        </tbody>
      </table>
    </tr>
    <tr class="has-text-centered">
      <button class="button is-primary is-rounded has-text-right" data-toggle="modal" data-target="#add" (click)="toggleModal()">Dodaj</button>
    </tr>
  </tbody>
</table>

<div class="modal" id="add" [ngClass]="{ 'is-active' : isModalActive }">
  <form #form="ngForm" (ngSubmit)="saveItem()" novalidate>
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Dodawanie do kalkulatora</p>
        <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <section class="modal-card-body">

        <table class="table is-striped is-bordered is-hoverable modal-table">
          <thead>
            <tr>
              <th>Nazwa</th>
              <th>Waga [g]</th>
              <th>Energia [kcal]</th>
              <th>Białko [g]</th>
              <th>Tłuszcz [g]</th>
              <th>Węglowodany [g]</th>
              <th>Błonnik [g]</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="has-text-right text">{{ item.name }}</td>
              <td class="has-text-right text">
                <input type="text" id="quantity" class="input is-small is-rounded" placeholder="0" [(ngModel)]="item.quantity" #quantity="ngModel"
                  name="quantity" (keyup)="calculateValue(quantity.value)" (blur)="calculateValue(quantity.value)" pattern="^[0-9]+$" required>
              </td>
              <td class="has-text-right text">{{ item.energy | number: '1.0-1':'pl-PL' }}</td>
              <td class="has-text-right text">{{ item.protein | number: '1.0-1':'pl-PL' }}</td>
              <td class="has-text-right text">{{ item.fat | number: '1.0-1':'pl-PL' }}</td>
              <td class="has-text-right text">{{ item.carb | number: '1.0-1':'pl-PL' }}</td>
              <td class="has-text-right text">{{ item.fiber | number: '1.0-1':'pl-PL' }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="quantity.invalid" class="help is-danger">
            <div *ngIf="quantity.errors.required">
              Waga jest wymagana
            </div>
        </div>
        <div *ngIf="quantity.invalid" class="help is-danger">
            <div *ngIf="quantity.errors.pattern">
              Waga musi być liczbą
            </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary is-rounded" type="submit" (click)="toggleModal()" [disabled]="!form.valid">Dodaj</button>
        <button class="button is-primary is-rounded" type="button" (click)="toggleModal()">Anuluj</button>
      </footer>
    </div>
  </form>
</div>
