.container {
  max-width: 960px;
}

.table {
  width: 280px;
  max-height: 440px;
  line-height: 1;
}

td {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  max-width: 140px;
  white-space: nowrap;
}

img {
  width: 280px;
  height: 173px;
}

.modal-card {
  width: 850px;
}

tr button {
  margin-top: 5px;
}

.modal-card-title {
  margin-bottom: 0;
}
